#menu-posts-c2c_last_contacted .wp-menu-image {
	background: url('images/card-address.png') no-repeat 6px -17px !important;
}
#menu-posts-c2c_last_contacted:hover .wp-menu-image, #menu-posts-c2c_last_contacted.wp-has-current-submenu .wp-menu-image {
	background-position:6px 7px !important;
}
#menu-posts-c2c_contact_group .wp-menu-image {
	background: url('images/cards-address.png') no-repeat 6px -17px !important;
}
#menu-posts-c2c_contact_group:hover .wp-menu-image, #menu-posts-c2c_contact_group.wp-has-current-submenu .wp-menu-image {
	background-position:6px 7px !important;
}